$color-primary: #a0ce4e;
$nav-border-radius: 0;
$nav-background-color: #222222;
$nav-border-color: #000000;
$nav-link-color: #ffffff;
$nav-link-border-bottom: 1px solid transparent;
$nav-link-hover-color: $color-primary;
$nav-link-hover-border-bottom: 1px solid $color-primary;
$nav-active-color: $color-primary;

.navbar {
  min-height: 100px;
}
.navbar-header {
  height: 100px;
}

.small-nav {
  list-style-type: none;
  position: absolute;
  right: 4%;
  width: 35%;
  padding-top: 0.5%;
  li {
    display: inline-block;
    margin-right: 5%;
    a {
      color: white;
      transition:.5s;
      &:hover {
        text-decoration: none;
        color: $nav-link-hover-color;
      }
    }
  }
}


nav {
  border-radius: $nav-border-radius;
  background-color: $nav-background-color;
  border-color: $nav-border-color;
  margin-bottom: 0;
  .navbar-brand {
      img {
        margin-top: 3%;
      }
  }
}

.left, .navbar-right {
  margin-top: 3%;
  li {
    a  {
      color: $nav-link-color;
      border-bottom: $nav-link-border-bottom;
      transition:.5s;
      &:hover {
        color: $nav-link-hover-color;
        border-bottom: $nav-link-hover-border-bottom;
      }
    }
  }
}

.active {
  color: $nav-active-color !important;
}
