@import "src/assets/sass/main.scss";

$page-header-width: 50%;
$page-header-margin: auto;
$page-header-margin-top: 5%;
$page-header-margin-bottom: 5%;
$alert-success-width: 50%;
$alert-success-margin: 10% auto;
$alert-success-text-align: center;

.container {
  .page-header {
    width: $page-header-width;
    margin: $page-header-margin;
    margin-top: $page-header-margin-top;
    margin-bottom: $page-header-margin-bottom;

  }
}

.alert-success {
  width: $alert-success-width;
  margin: $alert-success-margin;
  text-align: $alert-success-text-align;
}
