.container {
  .page-header {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20px;

  }
  form {
    @extend .page-header;
    margin-top: 0;
    div{
      .ng-touched.ng-invalid {
        border-left: 5px solid red;
      }
      .ng-valid {
        border-left: 5px solid green;
      }
      .alert.alert-danger {
        margin-bottom: 0;
        padding: 10px;
        margin-top: 5px;
      }
    }
  }
}

.alert-success {
  font-size: x-large;
  width: 50%;
  margin: 10% auto;
  text-align: center;
}

label, h1, small {
  font-family: 'Playfair Display', serif;
  color: white;
}
