$footer-background-color: #222222;
$footer-text-color: #ffffff;

.footer {
  background-color: $footer-background-color;
  .row {
    .col-md-12 {
      p {
        color: $footer-text-color;
      }
    }
  }
}
