.container {
  .page-header {
    h1 {
      border-bottom: 1px solid black;
    }
  }
}

button {
  margin-bottom: 2px;
}
.active {
  background-color: #a0ce4e !important;
}

.activeSpan {
  color: white;
}

 h1, small {
  font-family: 'Playfair Display', serif;
  color: #a0ce4e;
}

span {
  color: #a0ce4e;
}
