
$color-primary: #a0ce4e;
$color-secondary: #ffffff;
$color-shadow: rgba(#000, .125);

$color-background: #a0ce4e;
$color-background-invert: #ffffff;

$color-text: #000000;
//$color-text-weak: #ffffde
//$color-text-strong: #ffffde
$color-text-heading: #a0ce4e;
$color-text-small: #a0ce4e;
//$color-text-invert	: #ffffde
//$color-text-strong-invert	: #ffffde
//$color-text-link	: #ffffde
//$color-text-link-visited	: #ffffde
//$color-text-link-hover	: #ffffde

//$color-border: : #ffffff;
//$color-border-dark: #ffffff;
//$color-border-light: #ffffff;

// $color-highlight;
// $color-link;
// $color-link-dark;
// $color-link-light;
//
$color-valid-field: green;
$color-invalid-field: red;
