<!-- NEW  -->
<form>
  <div class="form-group">
    <label for="title">Movie Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="director">Movie Director</label>
    <input type="text" class="form-control" id="director" placeholder="Director">
  </div>
  <div class="form-group">
    <label for="writers">Movie Writer-(s)</label>
    <input type="text" class="form-control" id="writers" placeholder="Writer-(s)">
  </div>
  <div class="form-group">
    <label for="poster">Movie Poster</label>
    <input type="file" id="poster">
    <p class="help-block">Poster should be in .jpeg Format.</p>
  </div>
  <div class="checkbox">
    <label>
          <input type="checkbox"> Movie in HD Format?
        </label>
  </div>
  <div class="form-group">
    <label for="genre">Movie Genre</label>
    <select class="form-control" id="genre">
          <option>Action</option>
          <option>Drama</option>
          <option>Horror</option>
          <option>Comedy</option>
          <option>Thriller</option>
          <option>Fantasy</option>
          <option>Animation</option>
        </select>
  </div>
  <div class="form-group">
    <label for="description">Movie Description</label>
    <textarea class="form-control" rows="3" id="description" placeholder="Movie Description ..."></textarea>
  </div>
  <div class="form-group">
    <label for="stars">Movie Stars</label>
    <input type="text" class="form-control" id="stars" placeholder="Stars">
  </div>
  <div class="form-group">
    <label for="starsImages">Movie stars images</label>
    <input type="text" class="form-control" id="starsImages" placeholder="Stars Images">
  </div>
  <div class="form-group">
    <label for="movieImages">Movie images</label>
    <input type="text" class="form-control" id="movieImages" placeholder="Movie Images">
  </div>
  <div class="form-group">
    <label for="trailer">Movie Trailer</label>
    <input type="text" class="form-control" id="trailer" placeholder="Trailer">
    <p class="help-block">The trailer should be in embed format.</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
