@import "../base/_colors.scss";

$carousel-col-md-6-padding: 0;
$carousel-active-color: $color-primary !important;
$carousel-slider-size: 390px;
$carousel-width: 100%;
$carousel-margin: 0 auto;
