.input-group {
  margin-bottom: 20px;
}

#basic-addon1 {
  background-color: #a0ce4e;
  color: #222222;
}

.page-header {
  h1 {
    font-family: 'Playfair Display', serif;
    color: #a0ce4e;
    small {
      color: #a0ce4e;
    }
  }
}
