<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Movies Gallery <small>Select your movie and enjoy watching it.</small></h1>
    </div>
    <div class="col-lg-12">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">Search</span>
        <input type="text" class="form-control" placeholder="Search your movie here ..." [(ngModel)]="term" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon1">
      </div>
    </div>
    <div *ngFor="let movie of movieList | filter:term" class="col-lg-4" (click)="onClick(movie)" style="padding-bottom: 15px;">
      <a href="#" [routerLink]="['/movie-details', movie.movieID]">
        <img class="img-responsive" src="{{movie.mainMoviePicture}}" alt="" style="">
      </a>
    </div>
  </div>
</div>
