$color-primary: #a0ce4e;
$hover-cursor: pointer;

.table {
  tbody {
    tr {
      td {
        i {
          color: $color-primary;
          &:hover {
            cursor: $hover-cursor;
          }
        }
      }
    }
  }
}
