<!-- UPDATE  -->
  <form class="form-inline" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-default" style="margin-right: 20px;">Load All Movies</button>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Search</span>
      <input type="text" class="form-control" placeholder="Search specific movie's title" aria-describedby="basic-addon1">
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Movie's Name</th>
            <th>Director</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fury</td>
            <td>Lorem Ipsum</td>
            <td>2014</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
