
// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
//$base-font-family: 'Playfair Display', serif;
//$base-font-weight: $regular;
//$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Font Size
$font-size-h1: 3em;
$font-size-h2: 2.5em;
$font-size-h3: 2em;
$font-size-h4: 1.75em;
$font-size-h5: 1.5em;
$font-size-h6: 1.25em;
