<div class="container-flueid first-section">
  <img src="{{specificMovie?.moviePhotos[0]}}" class="image-absolute">
  <div class="container">

    <div class="row mainMovieSection">
      <div class="col-md-3 moviePoster">
        <img class="img-responsive" src="{{specificMovie?.mainMoviePicture}}">
      </div>
      <div class="col-md-9 movieInformations">
        <div class="details">
          <h1 class="title">{{specificMovie?.movieTitle}} ({{specificMovie?.movieReleaseDate}})</h1>
          <div class="ratingsIcons">
            <ul>
              <li><a href=""><i class="fa fa-star" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <p class="description">{{specificMovie?.movieDescription}}</p>
          <div class="crew">
            <h3>Crew</h3>
            <div class="row">
              <div class="col-md-3">
                <p>{{specificMovie?.movieDirector}}</p>
                <h4><strong>Director</strong></h4>
              </div>
              <div class="col-md-3" *ngFor="let writers of specificMovie?.movieWriters">
                <p>{{writers}}</p>
                <h4><strong>Writer</strong></h4>
              </div>
            </div>
          </div>
          <div class="cast">
            <h3>Cast</h3>
            <div class="row">
              <div class="col-md-3" *ngFor="let stars of specificMovie?.movieStars">
                <p>{{stars}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Main Actors</h3>
      <div class="starImages">
        <div class="col-md-2 starphoto" *ngFor="let starImages of specificMovie?.movieStarsImages; ">
          <img class="img-responsive" src="{{starImages}}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-flueid second-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 moreInfos">
        <div class="col-md-6">
          <h3>About the Movie</h3>
          <h4><strong>Facts</strong></h4>
          <h4>Original Title</h4>
          <p>{{specificMovie?.movieTitle}}</p>
          <h4>Status</h4>
          <p>Released {{specificMovie?.movieReleaseDate}}</p>
          <h4>Original language</h4>
          <p>English</p>
          <h4>Running time in minutes</h4>
          <p>1h 27m</p>
          <h4>Budget</h4>
          <p>$75,000,000.00</p>
          <h4>Results</h4>
          <p>$874,333,497.00</p>
          <h4>Homepage</h4>
          <p>http://www.pets-film.de/</p>
          <h4>Publications</h4>
          <p>8. Juli 2016 PG, Kino</p>
        </div>
        <div class="col-md-6">
          <h4><strong>Genre</strong></h4>
          <p>{{specificMovie?.movieGenre}}</p>
          <h4>key words</h4>
          <p>Test 1</p>
          <p>Test 2</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          <h3>Crew and Cast</h3>
          <h4><strong>Director</strong></h4>
          <p>{{specificMovie?.movieDirector}}</p>
          <h4><strong>Writers</strong></h4>
          <div *ngFor="let writer of specificMovie?.movieWriters">
            <p>{{writer}}</p>
          </div>
          <h4><strong>Stars</strong></h4>
          <div *ngFor="let star of specificMovie?.movieStars">
            <p>{{star}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Story</h3>
          <p>{{specificMovie?.movieDescription}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluied third-section">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12 parallax" style="background-image: url('{{specificMovie?.moviePhotos[0]}}')"></div> -->
      <div class="col-md-12">
        <h1>{{specificMovie?.movieTitle}}</h1>
        <h3>Reviews</h3>
        <p>We don't have any reviews for: <i>{{specificMovie?.movieTitle}}</i></p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluied fourth-section">
  <div class="container">
    <div class="row">
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#multimedia" aria-controls="multimedia" role="tab" data-toggle="tab">Multimedia</a></li>
          <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab" (click)="updateVideoUrl(specificMovie?.movieTrailer)">Videos</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="multimedia">
            <div class="content">
              <div class="original-content" *ngFor="let photo of specificMovie?.moviePhotos">
                <img src="{{photo}}" alt="">
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="videos">
            <div class="content">
              <div class="original-content">
                <iframe width="550" height="300" [src]="videoUrl"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluied fifth-section">
  <div class="container">
    <h1>Related Movies</h1>
    <div class="row">
      <div class="col-md-3" *ngFor="let movie of filteredGenre">
        <a href="#" [routerLink]="['/movie', movie.$key]">
          <img src="{{movie?.mainMoviePicture}}" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
