<div class="col-md-12 second-nav">
  <ul class="nav nav-tabs">

    <li>
      <a (click)="selectMovieGenre('Action')"
      [class.active]="isSelected">
      Action
      </a>
    </li>

    <li>
      <a
      (click)="selectMovieGenre('Drama')">
      Drama
      </a>
    </li>

    <li>
      <a
      (click)="selectMovieGenre('Horror')"
      [class.active]="isSelected">
      Horror
      </a>
    </li>

    <li>
      <a
      (click)="selectMovieGenre('Comedy')">
      Comedy
      </a>
    </li>

    <li>
      <a
      (click)="selectMovieGenre('Thriller')">
      Thriller
      </a>
    </li>

    <li>
      <a
      (click)="selectMovieGenre('Fantasy')">
      Fantasy
      </a>
    </li>

    <li>
      <a
      (click)="selectMovieGenre('Animation')">
      Animation
      </a>
    </li>
  </ul>
</div>
