
nav {
  border-radius: 0;
  background-color: #222222;
  border-color: #000000;
  margin-bottom: 0;
}

.navbar-header {
  a {
    font-size: 25px;
    color: #ffffff;
  }
}

.collapse {
  .left {
    li {
      a  {
        color: white;
        font-size: 1em;
        font-family: 'Playfair Display', serif;
        border-bottom: 1px solid transparent;
        transition:.5s;
        &:hover {
          color: #a0ce4e;
          border-bottom: 1px solid #a0ce4e;
        }
      }
    }
  }
  .navbar-right {
    li {
      a {
        color: white;
        font-size: 1em;
        font-family: 'Playfair Display', serif;
        border-bottom: 1px solid transparent;
        transition:.5s;
        &:hover {
          color: #a0ce4e;
          border-bottom: 1px solid #a0ce4e;
        }
      }
    }
  }
}

.active {
  color: #a0ce4e !important;
}
