/**/
@import "base/_reset.scss";
@import "base/_colors.scss";
@import "base/_typography.scss";
/**/
@import "components/_buttons.scss";
@import "components/_carousel.scss";
@import "components/_navigation.scss";
@import "components/_cover.scss";
@import "components/_dropdown.scss";
@import "components/_icons.scss";
/**/
@import "helpers/_variables.scss";
@import "helpers/_functions.scss";
@import "helpers/_mixins.scss";
@import "helpers/_helpers.scss";
/**/
@import "layout/_header.scss";
@import "layout/_footer.scss";
@import "layout/_forms.scss";
@import "layout/_grid.scss";
@import "layout/_sidebar.scss";
/**/
@import "pages/_home.scss";
@import "pages/_contact.scss";
/**/
@import "themes/_theme.scss";
@import "themes/_admin.scss";
/**/
@import "vendors/_bootstrap.scss";
@import "vendors/_jquery-ui.scss";


h1, h2, h3, h4, h5, h6 {
  color: $color-secondary;
  line-height: $base-line-height;
}

h1 {
  font-size: $font-size-h1;
  font-weight: $light;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $light;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $regular;
}

h4 {
  font-size: $font-size-h4;
  font-weight: $regular;
}

h5 {
  font-size: $font-size-h5;
  font-weight: $bold;
}

h6 {
  font-size: $font-size-h6;
  font-weight: $bold;
}

small {
  color: $color-text-heading;
}

p {
  color: $color-text;
  line-height: $base-line-height;
}

i {
  color: $color-secondary;
  font-weight: $regular;
  font-size: $icon-font-size;
}








//carousel
.carousel-main-padding {
  padding: $carousel-col-md-6-padding;
}
.carousel-indicators {
  display: none;
  // .active {
  //   color: $carousel-active-color;
  // }
}
.slider-size {
  height: $carousel-slider-size;
}
.carousel {
  width: $carousel-width;
  margin: $carousel-margin;
}

//FORMS
form {
  width: $form-width;
  margin: $form-margin;
  margin-top: $form-margin-top;
  margin-bottom: $form-margin-bottom;
  label {
    color: $color-secondary;
  }
  div{
    .ng-touched.ng-invalid {
      border-left: $form-invalid-border-left;
    }
    .ng-valid {
      border-left: $form-valid-border-left;
    }
    .alert.alert-danger {
      margin-bottom: $form-alert_margin-bottom;
      padding: $form-alert-padding;
      margin-top: $form-alert-margin-top;
    }
  }
}
